
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.banner{
    background-image: url("../assets/Hero-bg.png");
    border: 1px dashed rgb(139, 137, 137);
}

.banner-1{
    justify-content: center;
    text-align: center;
    padding: 40px 220px;
}

.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.banner-button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px;
}
.banner-btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/* main styles */

main{
    margin: 0  152px;
}

.reason{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 90px;
    border-bottom: 35px;
    margin-top: 75px;
}

.reason-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.reason-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}

.reason-first{
    display: flex;
    gap: 108px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}

.reason-second{
    display: flex;
    gap: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}

.reason-third{
    display: flex;
    gap: 108px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}

.reason-sub-head{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.reason-sub-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}

.reason-sub-button{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
    padding: 12px 20px;
    
}
.btn{
    color: rgb(13, 19, 33);
    text-decoration: none;
}

.inspiration{
    text-align: center;
}

.inspiration-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 24px;
}

.inspiration-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 0 140px;
    margin-bottom: 48px;

}
.video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.video-detail{
    width: 900px;
    height: 550px;
    border-radius: 16px;
    padding: 16px;
}


.current-detail{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
}

.current-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 180px;
    }
.current-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 0 144px;
    margin-bottom: 48px;

}

.current-1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    }

.current-2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
}

.current-3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    }

.current-a{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.current-b{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

}

.current-c{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}


.support{
    background-image: url("../assets/handshake.jpg");
    background-size: cover;
    border-radius: 16px;
    margin-top: 86px;
}
.support-1{
    padding: 64px 48px;
   
}
.support-title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    
}
.support-description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 24px;

}
.input{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 350px;
    height: 30px;
    padding: 18px 20px;
    
}
.button{
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    /* justify-content: center;
    text-align: center; */
    padding: 6px 10px;

}
.class{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    
}

.footer-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.footer-1{
    display: flex;
    padding: 15px 150px;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px ;
}

.footer-2{
    display: flex;
    gap: 20px;
}
